<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="First_Name">
	{$First_Name_editcontrol}
	</control>
	<control 
	field="Last_Name">
	{$Last_Name_editcontrol}
	</control>
	<control 
	field="Passport_Number">
	{$Passport_Number_editcontrol}
	</control>
	<control 
	field="P__O__Box">
	{$P__O__Box_editcontrol}
	</control>
	<control 
	field="Address">
	{$Address_editcontrol}
	</control>
	<control 
	field="City">
	{$City_editcontrol}
	</control>
	<control 
	field="Province">
	{$Province_editcontrol}
	</control>
	<control 
	field="Postal_code">
	{$Postal_code_editcontrol}
	</control>
	<control 
	field="Country">
	{$Country_editcontrol}
	</control>
	<control 
	field="Home_Phone">
	{$Home_Phone_editcontrol}
	</control>
	<control 
	field="Work_Phone">
	{$Work_Phone_editcontrol}
	</control>
	<control 
	field="Cell_Phone">
	{$Cell_Phone_editcontrol}
	</control>
	<control 
	field="E_mail">
	{$E_mail_editcontrol}
	</control>
	<control 
	field="Birthdate">
	{$Birthdate_editcontrol}
	</control>
	<control 
	field="Photo">
	{$Photo_editcontrol}
	</control>
	<control 
	field="Username">
	{$Username_editcontrol}
	</control>
	<control 
	field="Password">
	{$Password_editcontrol}
	</control>
	<control 
	field="Group">
	{$Group_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
