<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-edit" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_edit} rnr-wrapper rnr-cbw-edit">

{BEGIN container_edit}
<div class="rnr-c rnr-cv rnr-c-edit">

{BEGIN editheader}
<div  class="rnr-brickcontents style2 rnr-b-editheader {$brickclass_editheader}"><span>	<h1>{$pagetitlelabel reps edit}</h1>
</span></div>{END editheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">


<div  class="rnr-brickcontents style1 rnr-b-editfields {$brickclass_editfields}"><table class="fieldGrid">
	{BEGIN First_Name_fieldblock}
<tr class="{$fielddispclass_First_Name}" data-fieldname="First_Name">
	<td class="rnr-label">
		{BEGIN First_Name_label}{$label reps First_Name}{END First_Name_label}
	</td>
	<td class="rnr-control style3">
		{$First_Name_editcontrol}&nbsp;
	</td>
</tr>
{END First_Name_fieldblock}
	{BEGIN Last_Name_fieldblock}
<tr class="{$fielddispclass_Last_Name}" data-fieldname="Last_Name">
	<td class="rnr-label">
		{BEGIN Last_Name_label}{$label reps Last_Name}{END Last_Name_label}
	</td>
	<td class="rnr-control style3">
		{$Last_Name_editcontrol}&nbsp;
	</td>
</tr>
{END Last_Name_fieldblock}
	{BEGIN Passport_Number_fieldblock}
<tr class="{$fielddispclass_Passport_Number}" data-fieldname="Passport_Number">
	<td class="rnr-label">
		{BEGIN Passport_Number_label}{$label reps Passport_Number}{END Passport_Number_label}
	</td>
	<td class="rnr-control style3">
		{$Passport_Number_editcontrol}&nbsp;
	</td>
</tr>
{END Passport_Number_fieldblock}
	{BEGIN Address_fieldblock}
<tr class="{$fielddispclass_Address}" data-fieldname="Address">
	<td class="rnr-label">
		{BEGIN Address_label}{$label reps Address}{END Address_label}
	</td>
	<td class="rnr-control style3">
		{$Address_editcontrol}&nbsp;
	</td>
</tr>
{END Address_fieldblock}
	{BEGIN City_fieldblock}
<tr class="{$fielddispclass_City}" data-fieldname="City">
	<td class="rnr-label">
		{BEGIN City_label}{$label reps City}{END City_label}
	</td>
	<td class="rnr-control style3">
		{$City_editcontrol}&nbsp;
	</td>
</tr>
{END City_fieldblock}
	{BEGIN Country_fieldblock}
<tr class="{$fielddispclass_Country}" data-fieldname="Country">
	<td class="rnr-label">
		{BEGIN Country_label}{$label reps Country}{END Country_label}
	</td>
	<td class="rnr-control style3">
		{$Country_editcontrol}&nbsp;
	</td>
</tr>
{END Country_fieldblock}
	{BEGIN Home_Phone_fieldblock}
<tr class="{$fielddispclass_Home_Phone}" data-fieldname="Home_Phone">
	<td class="rnr-label">
		{BEGIN Home_Phone_label}{$label reps Home_Phone}{END Home_Phone_label}
	</td>
	<td class="rnr-control style3">
		{$Home_Phone_editcontrol}&nbsp;
	</td>
</tr>
{END Home_Phone_fieldblock}
	{BEGIN Work_Phone_fieldblock}
<tr class="{$fielddispclass_Work_Phone}" data-fieldname="Work_Phone">
	<td class="rnr-label">
		{BEGIN Work_Phone_label}{$label reps Work_Phone}{END Work_Phone_label}
	</td>
	<td class="rnr-control style3">
		{$Work_Phone_editcontrol}&nbsp;
	</td>
</tr>
{END Work_Phone_fieldblock}
	{BEGIN E_mail_fieldblock}
<tr class="{$fielddispclass_E_mail}" data-fieldname="E_mail">
	<td class="rnr-label">
		{BEGIN E_mail_label}{$label reps E_mail}{END E_mail_label}
	</td>
	<td class="rnr-control style3">
		{$E_mail_editcontrol}&nbsp;
	</td>
</tr>
{END E_mail_fieldblock}
	{BEGIN Birthdate_fieldblock}
<tr class="{$fielddispclass_Birthdate}" data-fieldname="Birthdate">
	<td class="rnr-label">
		{BEGIN Birthdate_label}{$label reps Birthdate}{END Birthdate_label}
	</td>
	<td class="rnr-control style3">
		{$Birthdate_editcontrol}&nbsp;
	</td>
</tr>
{END Birthdate_fieldblock}
	{BEGIN Photo_fieldblock}
<tr class="{$fielddispclass_Photo}" data-fieldname="Photo">
	<td class="rnr-label">
		{BEGIN Photo_label}{$label reps Photo}{END Photo_label}
	</td>
	<td class="rnr-control style3">
		{$Photo_editcontrol}&nbsp;
	</td>
</tr>
{END Photo_fieldblock}
	{BEGIN Province_fieldblock}
<tr class="{$fielddispclass_Province}" data-fieldname="Province">
	<td class="rnr-label">
		{BEGIN Province_label}{$label reps Province}{END Province_label}
	</td>
	<td class="rnr-control style3">
		{$Province_editcontrol}&nbsp;
	</td>
</tr>
{END Province_fieldblock}
	{BEGIN Username_fieldblock}
<tr class="{$fielddispclass_Username}" data-fieldname="Username">
	<td class="rnr-label">
		{BEGIN Username_label}{$label reps Username}{END Username_label}
	</td>
	<td class="rnr-control style3">
		{$Username_editcontrol}&nbsp;
	</td>
</tr>
{END Username_fieldblock}
	{BEGIN Password_fieldblock}
<tr class="{$fielddispclass_Password}" data-fieldname="Password">
	<td class="rnr-label">
		{BEGIN Password_label}{$label reps Password}{END Password_label}
	</td>
	<td class="rnr-control style3">
		{$Password_editcontrol}&nbsp;
	</td>
</tr>
{END Password_fieldblock}
	{BEGIN Group_fieldblock}
<tr class="{$fielddispclass_Group}" data-fieldname="Group">
	<td class="rnr-label">
		{BEGIN Group_label}{$label reps Group}{END Group_label}
	</td>
	<td class="rnr-control style3">
		{$Group_editcontrol}&nbsp;
	</td>
</tr>
{END Group_fieldblock}
	{BEGIN P__O__Box_fieldblock}
<tr class="{$fielddispclass_P__O__Box}" data-fieldname="P__O__Box">
	<td class="rnr-label">
		{BEGIN P__O__Box_label}{$label reps P__O__Box}{END P__O__Box_label}
	</td>
	<td class="rnr-control style3">
		{$P__O__Box_editcontrol}&nbsp;
	</td>
</tr>
{END P__O__Box_fieldblock}
	{BEGIN Postal_code_fieldblock}
<tr class="{$fielddispclass_Postal_code}" data-fieldname="Postal_code">
	<td class="rnr-label">
		{BEGIN Postal_code_label}{$label reps Postal_code}{END Postal_code_label}
	</td>
	<td class="rnr-control style3">
		{$Postal_code_editcontrol}&nbsp;
	</td>
</tr>
{END Postal_code_fieldblock}
	{BEGIN Cell_Phone_fieldblock}
<tr class="{$fielddispclass_Cell_Phone}" data-fieldname="Cell_Phone">
	<td class="rnr-label">
		{BEGIN Cell_Phone_label}{$label reps Cell_Phone}{END Cell_Phone_label}
	</td>
	<td class="rnr-control style3">
		{$Cell_Phone_editcontrol}&nbsp;
	</td>
</tr>
{END Cell_Phone_fieldblock}
</table></div>


{BEGIN editbuttons}
<div  class="rnr-brickcontents style2 rnr-b-editbuttons {$brickclass_editbuttons}"><div class="rnr-buttons-right">
{BEGIN prev_button}
<a href="#" class="rnr-button {$prevbutton_class}" {$prevbutton_attrs}>&lt;&lt;&lt;</a>
{END prev_button}
{BEGIN next_button}
<a href="#" class="rnr-button  {$nextbutton_class}" {$nextbutton_attrs}>&gt;&gt;&gt;</a>
{END next_button}
</div>
<div class="rnr-buttons-left">
{BEGIN save_button}
<a href="#" class="rnr-button main" {$savebutton_attrs}>Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}
{BEGIN close_button}
<a href="#" class="rnr-button" {$closebutton_attrs}>Close window</a>
{END close_button}
{BEGIN view_page_button}
<a href="#" class="rnr-button" {$view_page_button_attrs}>View</a>
{END view_page_button}
</div>
</div>{END editbuttons}


</div>
{END container_fields}

</div>


</div>
{END container_edit}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
