<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel reps add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-addfields2 {$brickclass_addfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN Province_fieldblock}
<div data-fieldname="Province" class="rnr-field style1 {$fielddispclass_Province}">
  <span class="rnr-label">{BEGIN Province_label}{$label reps Province}{END Province_label}</span>
  <span class="rnr-control style3">{$Province_editcontrol}</span>
</div>
{END Province_fieldblock}
	{BEGIN Username_fieldblock}
<div data-fieldname="Username" class="rnr-field style1 {$fielddispclass_Username}">
  <span class="rnr-label">{BEGIN Username_label}{$label reps Username}{END Username_label}</span>
  <span class="rnr-control style3">{$Username_editcontrol}</span>
</div>
{END Username_fieldblock}
	{BEGIN Password_fieldblock}
<div data-fieldname="Password" class="rnr-field style1 {$fielddispclass_Password}">
  <span class="rnr-label">{BEGIN Password_label}{$label reps Password}{END Password_label}</span>
  <span class="rnr-control style3">{$Password_editcontrol}</span>
</div>
{END Password_fieldblock}
	{BEGIN Group_fieldblock}
<div data-fieldname="Group" class="rnr-field style1 {$fielddispclass_Group}">
  <span class="rnr-label">{BEGIN Group_label}{$label reps Group}{END Group_label}</span>
  <span class="rnr-control style3">{$Group_editcontrol}</span>
</div>
{END Group_fieldblock}
	{BEGIN P__O__Box_fieldblock}
<div data-fieldname="P__O__Box" class="rnr-field style1 {$fielddispclass_P__O__Box}">
  <span class="rnr-label">{BEGIN P__O__Box_label}{$label reps P__O__Box}{END P__O__Box_label}</span>
  <span class="rnr-control style3">{$P__O__Box_editcontrol}</span>
</div>
{END P__O__Box_fieldblock}
	{BEGIN Postal_code_fieldblock}
<div data-fieldname="Postal_code" class="rnr-field style1 {$fielddispclass_Postal_code}">
  <span class="rnr-label">{BEGIN Postal_code_label}{$label reps Postal_code}{END Postal_code_label}</span>
  <span class="rnr-control style3">{$Postal_code_editcontrol}</span>
</div>
{END Postal_code_fieldblock}
	{BEGIN Cell_Phone_fieldblock}
<div data-fieldname="Cell_Phone" class="rnr-field style1 {$fielddispclass_Cell_Phone}">
  <span class="rnr-label">{BEGIN Cell_Phone_label}{$label reps Cell_Phone}{END Cell_Phone_label}</span>
  <span class="rnr-control style3">{$Cell_Phone_editcontrol}</span>
</div>
{END Cell_Phone_fieldblock}
	{BEGIN First_Name_fieldblock}
<div data-fieldname="First_Name" class="rnr-field style1 {$fielddispclass_First_Name}">
  <span class="rnr-label">{BEGIN First_Name_label}{$label reps First_Name}{END First_Name_label}</span>
  <span class="rnr-control style3">{$First_Name_editcontrol}</span>
</div>
{END First_Name_fieldblock}
	{BEGIN Last_Name_fieldblock}
<div data-fieldname="Last_Name" class="rnr-field style1 {$fielddispclass_Last_Name}">
  <span class="rnr-label">{BEGIN Last_Name_label}{$label reps Last_Name}{END Last_Name_label}</span>
  <span class="rnr-control style3">{$Last_Name_editcontrol}</span>
</div>
{END Last_Name_fieldblock}
</td>
<td>
	{BEGIN Passport_Number_fieldblock}
<div data-fieldname="Passport_Number" class="rnr-field style1 {$fielddispclass_Passport_Number}">
  <span class="rnr-label">{BEGIN Passport_Number_label}{$label reps Passport_Number}{END Passport_Number_label}</span>
  <span class="rnr-control style3">{$Passport_Number_editcontrol}</span>
</div>
{END Passport_Number_fieldblock}
	{BEGIN Address_fieldblock}
<div data-fieldname="Address" class="rnr-field style1 {$fielddispclass_Address}">
  <span class="rnr-label">{BEGIN Address_label}{$label reps Address}{END Address_label}</span>
  <span class="rnr-control style3">{$Address_editcontrol}</span>
</div>
{END Address_fieldblock}
	{BEGIN City_fieldblock}
<div data-fieldname="City" class="rnr-field style1 {$fielddispclass_City}">
  <span class="rnr-label">{BEGIN City_label}{$label reps City}{END City_label}</span>
  <span class="rnr-control style3">{$City_editcontrol}</span>
</div>
{END City_fieldblock}
	{BEGIN Country_fieldblock}
<div data-fieldname="Country" class="rnr-field style1 {$fielddispclass_Country}">
  <span class="rnr-label">{BEGIN Country_label}{$label reps Country}{END Country_label}</span>
  <span class="rnr-control style3">{$Country_editcontrol}</span>
</div>
{END Country_fieldblock}
	{BEGIN Home_Phone_fieldblock}
<div data-fieldname="Home_Phone" class="rnr-field style1 {$fielddispclass_Home_Phone}">
  <span class="rnr-label">{BEGIN Home_Phone_label}{$label reps Home_Phone}{END Home_Phone_label}</span>
  <span class="rnr-control style3">{$Home_Phone_editcontrol}</span>
</div>
{END Home_Phone_fieldblock}
	{BEGIN Work_Phone_fieldblock}
<div data-fieldname="Work_Phone" class="rnr-field style1 {$fielddispclass_Work_Phone}">
  <span class="rnr-label">{BEGIN Work_Phone_label}{$label reps Work_Phone}{END Work_Phone_label}</span>
  <span class="rnr-control style3">{$Work_Phone_editcontrol}</span>
</div>
{END Work_Phone_fieldblock}
	{BEGIN E_mail_fieldblock}
<div data-fieldname="E_mail" class="rnr-field style1 {$fielddispclass_E_mail}">
  <span class="rnr-label">{BEGIN E_mail_label}{$label reps E_mail}{END E_mail_label}</span>
  <span class="rnr-control style3">{$E_mail_editcontrol}</span>
</div>
{END E_mail_fieldblock}
	{BEGIN Birthdate_fieldblock}
<div data-fieldname="Birthdate" class="rnr-field style1 {$fielddispclass_Birthdate}">
  <span class="rnr-label">{BEGIN Birthdate_label}{$label reps Birthdate}{END Birthdate_label}</span>
  <span class="rnr-control style3">{$Birthdate_editcontrol}</span>
</div>
{END Birthdate_fieldblock}
	{BEGIN Photo_fieldblock}
<div data-fieldname="Photo" class="rnr-field style1 {$fielddispclass_Photo}">
  <span class="rnr-label">{BEGIN Photo_label}{$label reps Photo}{END Photo_label}</span>
  <span class="rnr-control style3">{$Photo_editcontrol}</span>
</div>
{END Photo_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
