<div {$pageattrs}>

{BEGIN container_masterlistheader}
<div class="rnr-c rnr-ch rnr-c-masterlistheader">


<div  class="style1 rnr-bl rnr-b-masterprintheader {$brickclass_masterprintheader}">	<h1>{$pagetitlelabel reps masterprint}</h1>
</div>


<div class="rnr-hfiller"></div>
</div>
{END container_masterlistheader}



{BEGIN container_mastergrid}



<table class="rnr-c rnr-cont rnr-c-mastergrid rnr-b-masterprintfields rnr-gridtable" cellpadding="0" >
	<thead>
		<tr class="rnr-toprow style1 {$gridHeader_class}" >
			<th class="{$First_Name_class}">{$label reps First_Name}</th>
			<th class="{$Last_Name_class}">{$label reps Last_Name}</th>
			<th class="{$Passport_Number_class}">{$label reps Passport_Number}</th>
			<th class="{$P__O__Box_class}">{$label reps P__O__Box}</th>
			<th class="{$Address_class}">{$label reps Address}</th>
			<th class="{$City_class}">{$label reps City}</th>
			<th class="{$Province_class}">{$label reps Province}</th>
			<th class="{$Country_class}">{$label reps Country}</th>
			<th class="{$Postal_code_class}">{$label reps Postal_code}</th>
			<th class="{$Home_Phone_class}">{$label reps Home_Phone}</th>
			<th class="{$Work_Phone_class}">{$label reps Work_Phone}</th>
			<th class="{$Cell_Phone_class}">{$label reps Cell_Phone}</th>
			<th class="{$E_mail_class}">{$label reps E_mail}</th>
			<th class="{$Birthdate_class}">{$label reps Birthdate}</th>
			<th class="{$Photo_class}">{$label reps Photo}</th>
			<th class="{$Username_class}">{$label reps Username}</th>
			<th class="{$Password_class}">{$label reps Password}</th>
			<th class="{$Group_class}">{$label reps Group}</th>
			<th class="{$Date_Created_class}">{$label reps Date_Created}</th>
			<th class="{$rep_id_class}">{$label reps rep_id}</th>
			<th class="rnr-edge">&nbsp;</th>
		</tr>
	</thead>
	<tbody>
		<tr class="rnr-row style1">
			<td class="{$First_Name_class}">{$First_Name_mastervalue}</td>
			<td class="{$Last_Name_class}">{$Last_Name_mastervalue}</td>
			<td class="{$Passport_Number_class}">{$Passport_Number_mastervalue}</td>
			<td class="{$P__O__Box_class}">{$P__O__Box_mastervalue}</td>
			<td class="{$Address_class}">{$Address_mastervalue}</td>
			<td class="{$City_class}">{$City_mastervalue}</td>
			<td class="{$Province_class}">{$Province_mastervalue}</td>
			<td class="{$Country_class}">{$Country_mastervalue}</td>
			<td class="{$Postal_code_class}">{$Postal_code_mastervalue}</td>
			<td class="{$Home_Phone_class}">{$Home_Phone_mastervalue}</td>
			<td class="{$Work_Phone_class}">{$Work_Phone_mastervalue}</td>
			<td class="{$Cell_Phone_class}">{$Cell_Phone_mastervalue}</td>
			<td class="{$E_mail_class}">{$E_mail_mastervalue}</td>
			<td class="{$Birthdate_class}">{$Birthdate_mastervalue}</td>
			<td class="{$Photo_class}">{$Photo_mastervalue}</td>
			<td class="{$Username_class}">{$Username_mastervalue}</td>
			<td class="{$Password_class}">{$Password_mastervalue}</td>
			<td class="{$Group_class}">{$Group_mastervalue}</td>
			<td class="{$Date_Created_class}">{$Date_Created_mastervalue}</td>
			<td class="{$rep_id_class}">{$rep_id_mastervalue}</td>
			<td class="rnr-edge">&nbsp;</td>
		</tr>
	</tbody>
</table> 





{END container_mastergrid}

</div>