<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_all}
<div class="rnr-c rnr-cv rnr-c-all">


<div  class="rnr-brickcontents style1 rnr-b-wrapper {$wrapperclass_fields} rnr-wrapper rnr-cbw-fields">

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN addheader}
<div  class="rnr-brickcontents style2 rnr-b-addheader {$brickclass_addheader}"><span>	<h1>{$pagetitlelabel school add}</h1>
</span></div>{END addheader}


{BEGIN message_block}
<div  class="rnr-brickcontents style1 rnr-b-message {$brickclass_message}"><div class="rnr-message">{$message}</div></div>{END message_block}



<div  class="rnr-brickcontents style1 rnr-b-addfields2 {$brickclass_addfields2}"><table class="fieldGrid fieldGrid2 edit">

<tr>
<td>
	{BEGIN P__O__Box_fieldblock}
<div data-fieldname="P__O__Box" class="rnr-field style1 {$fielddispclass_P__O__Box}">
  <span class="rnr-label">{BEGIN P__O__Box_label}{$label school P__O__Box}{END P__O__Box_label}</span>
  <span class="rnr-control style3">{$P__O__Box_editcontrol}</span>
</div>
{END P__O__Box_fieldblock}
	{BEGIN Postal_code_fieldblock}
<div data-fieldname="Postal_code" class="rnr-field style1 {$fielddispclass_Postal_code}">
  <span class="rnr-label">{BEGIN Postal_code_label}{$label school Postal_code}{END Postal_code_label}</span>
  <span class="rnr-control style3">{$Postal_code_editcontrol}</span>
</div>
{END Postal_code_fieldblock}
	{BEGIN Province_fieldblock}
<div data-fieldname="Province" class="rnr-field style1 {$fielddispclass_Province}">
  <span class="rnr-label">{BEGIN Province_label}{$label school Province}{END Province_label}</span>
  <span class="rnr-control style3">{$Province_editcontrol}</span>
</div>
{END Province_fieldblock}
	{BEGIN School_Name_fieldblock}
<div data-fieldname="School_Name" class="rnr-field style1 {$fielddispclass_School_Name}">
  <span class="rnr-label">{BEGIN School_Name_label}{$label school School_Name}{END School_Name_label}</span>
  <span class="rnr-control style3">{$School_Name_editcontrol}</span>
</div>
{END School_Name_fieldblock}
	{BEGIN Registration_Number_fieldblock}
<div data-fieldname="Registration_Number" class="rnr-field style1 {$fielddispclass_Registration_Number}">
  <span class="rnr-label">{BEGIN Registration_Number_label}{$label school Registration_Number}{END Registration_Number_label}</span>
  <span class="rnr-control style3">{$Registration_Number_editcontrol}</span>
</div>
{END Registration_Number_fieldblock}
	{BEGIN Registration_Date_fieldblock}
<div data-fieldname="Registration_Date" class="rnr-field style1 {$fielddispclass_Registration_Date}">
  <span class="rnr-label">{BEGIN Registration_Date_label}{$label school Registration_Date}{END Registration_Date_label}</span>
  <span class="rnr-control style3">{$Registration_Date_editcontrol}</span>
</div>
{END Registration_Date_fieldblock}
	{BEGIN School_Type_fieldblock}
<div data-fieldname="School_Type" class="rnr-field style1 {$fielddispclass_School_Type}">
  <span class="rnr-label">{BEGIN School_Type_label}{$label school School_Type}{END School_Type_label}</span>
  <span class="rnr-control style3">{$School_Type_editcontrol}</span>
</div>
{END School_Type_fieldblock}
	{BEGIN Latitude_fieldblock}
<div data-fieldname="Latitude" class="rnr-field style1 {$fielddispclass_Latitude}">
  <span class="rnr-label">{BEGIN Latitude_label}{$label school Latitude}{END Latitude_label}</span>
  <span class="rnr-control style3">{$Latitude_editcontrol}</span>
</div>
{END Latitude_fieldblock}
	{BEGIN Longditude_fieldblock}
<div data-fieldname="Longditude" class="rnr-field style1 {$fielddispclass_Longditude}">
  <span class="rnr-label">{BEGIN Longditude_label}{$label school Longditude}{END Longditude_label}</span>
  <span class="rnr-control style3">{$Longditude_editcontrol}</span>
</div>
{END Longditude_fieldblock}
	{BEGIN Administrator_fieldblock}
<div data-fieldname="Administrator" class="rnr-field style1 {$fielddispclass_Administrator}">
  <span class="rnr-label">{BEGIN Administrator_label}{$label school Administrator}{END Administrator_label}</span>
  <span class="rnr-control style3">{$Administrator_editcontrol}</span>
</div>
{END Administrator_fieldblock}
	{BEGIN Principal_fieldblock}
<div data-fieldname="Principal" class="rnr-field style1 {$fielddispclass_Principal}">
  <span class="rnr-label">{BEGIN Principal_label}{$label school Principal}{END Principal_label}</span>
  <span class="rnr-control style3">{$Principal_editcontrol}</span>
</div>
{END Principal_fieldblock}
	{BEGIN Address_fieldblock}
<div data-fieldname="Address" class="rnr-field style1 {$fielddispclass_Address}">
  <span class="rnr-label">{BEGIN Address_label}{$label school Address}{END Address_label}</span>
  <span class="rnr-control style3">{$Address_editcontrol}</span>
</div>
{END Address_fieldblock}
	{BEGIN City_fieldblock}
<div data-fieldname="City" class="rnr-field style1 {$fielddispclass_City}">
  <span class="rnr-label">{BEGIN City_label}{$label school City}{END City_label}</span>
  <span class="rnr-control style3">{$City_editcontrol}</span>
</div>
{END City_fieldblock}
	{BEGIN Country_fieldblock}
<div data-fieldname="Country" class="rnr-field style1 {$fielddispclass_Country}">
  <span class="rnr-label">{BEGIN Country_label}{$label school Country}{END Country_label}</span>
  <span class="rnr-control style3">{$Country_editcontrol}</span>
</div>
{END Country_fieldblock}
	{BEGIN E_mail_fieldblock}
<div data-fieldname="E_mail" class="rnr-field style1 {$fielddispclass_E_mail}">
  <span class="rnr-label">{BEGIN E_mail_label}{$label school E_mail}{END E_mail_label}</span>
  <span class="rnr-control style3">{$E_mail_editcontrol}</span>
</div>
{END E_mail_fieldblock}
	{BEGIN School_Phone_fieldblock}
<div data-fieldname="School_Phone" class="rnr-field style1 {$fielddispclass_School_Phone}">
  <span class="rnr-label">{BEGIN School_Phone_label}{$label school School_Phone}{END School_Phone_label}</span>
  <span class="rnr-control style3">{$School_Phone_editcontrol}</span>
</div>
{END School_Phone_fieldblock}
	{BEGIN Admnistrators_Phone_fieldblock}
<div data-fieldname="Admnistrators_Phone" class="rnr-field style1 {$fielddispclass_Admnistrators_Phone}">
  <span class="rnr-label">{BEGIN Admnistrators_Phone_label}{$label school Admnistrators_Phone}{END Admnistrators_Phone_label}</span>
  <span class="rnr-control style3">{$Admnistrators_Phone_editcontrol}</span>
</div>
{END Admnistrators_Phone_fieldblock}
</td>
<td>
	{BEGIN Cresh_fieldblock}
<div data-fieldname="Cresh" class="rnr-field style1 {$fielddispclass_Cresh}">
  <span class="rnr-label">{BEGIN Cresh_label}{$label school Cresh}{END Cresh_label}</span>
  <span class="rnr-control style3">{$Cresh_editcontrol}</span>
</div>
{END Cresh_fieldblock}
	{BEGIN Grade_R_fieldblock}
<div data-fieldname="Grade_R" class="rnr-field style1 {$fielddispclass_Grade_R}">
  <span class="rnr-label">{BEGIN Grade_R_label}{$label school Grade_R}{END Grade_R_label}</span>
  <span class="rnr-control style3">{$Grade_R_editcontrol}</span>
</div>
{END Grade_R_fieldblock}
	{BEGIN Grade_0_fieldblock}
<div data-fieldname="Grade_0" class="rnr-field style1 {$fielddispclass_Grade_0}">
  <span class="rnr-label">{BEGIN Grade_0_label}{$label school Grade_0}{END Grade_0_label}</span>
  <span class="rnr-control style3">{$Grade_0_editcontrol}</span>
</div>
{END Grade_0_fieldblock}
	{BEGIN Grade_1_fieldblock}
<div data-fieldname="Grade_1" class="rnr-field style1 {$fielddispclass_Grade_1}">
  <span class="rnr-label">{BEGIN Grade_1_label}{$label school Grade_1}{END Grade_1_label}</span>
  <span class="rnr-control style3">{$Grade_1_editcontrol}</span>
</div>
{END Grade_1_fieldblock}
	{BEGIN Grade_2_fieldblock}
<div data-fieldname="Grade_2" class="rnr-field style1 {$fielddispclass_Grade_2}">
  <span class="rnr-label">{BEGIN Grade_2_label}{$label school Grade_2}{END Grade_2_label}</span>
  <span class="rnr-control style3">{$Grade_2_editcontrol}</span>
</div>
{END Grade_2_fieldblock}
	{BEGIN Grade_3_fieldblock}
<div data-fieldname="Grade_3" class="rnr-field style1 {$fielddispclass_Grade_3}">
  <span class="rnr-label">{BEGIN Grade_3_label}{$label school Grade_3}{END Grade_3_label}</span>
  <span class="rnr-control style3">{$Grade_3_editcontrol}</span>
</div>
{END Grade_3_fieldblock}
	{BEGIN Grade_4_fieldblock}
<div data-fieldname="Grade_4" class="rnr-field style1 {$fielddispclass_Grade_4}">
  <span class="rnr-label">{BEGIN Grade_4_label}{$label school Grade_4}{END Grade_4_label}</span>
  <span class="rnr-control style3">{$Grade_4_editcontrol}</span>
</div>
{END Grade_4_fieldblock}
	{BEGIN Grade_5_fieldblock}
<div data-fieldname="Grade_5" class="rnr-field style1 {$fielddispclass_Grade_5}">
  <span class="rnr-label">{BEGIN Grade_5_label}{$label school Grade_5}{END Grade_5_label}</span>
  <span class="rnr-control style3">{$Grade_5_editcontrol}</span>
</div>
{END Grade_5_fieldblock}
	{BEGIN Grade_6_fieldblock}
<div data-fieldname="Grade_6" class="rnr-field style1 {$fielddispclass_Grade_6}">
  <span class="rnr-label">{BEGIN Grade_6_label}{$label school Grade_6}{END Grade_6_label}</span>
  <span class="rnr-control style3">{$Grade_6_editcontrol}</span>
</div>
{END Grade_6_fieldblock}
	{BEGIN Grade_7_fieldblock}
<div data-fieldname="Grade_7" class="rnr-field style1 {$fielddispclass_Grade_7}">
  <span class="rnr-label">{BEGIN Grade_7_label}{$label school Grade_7}{END Grade_7_label}</span>
  <span class="rnr-control style3">{$Grade_7_editcontrol}</span>
</div>
{END Grade_7_fieldblock}
	{BEGIN Grade_8_fieldblock}
<div data-fieldname="Grade_8" class="rnr-field style1 {$fielddispclass_Grade_8}">
  <span class="rnr-label">{BEGIN Grade_8_label}{$label school Grade_8}{END Grade_8_label}</span>
  <span class="rnr-control style3">{$Grade_8_editcontrol}</span>
</div>
{END Grade_8_fieldblock}
	{BEGIN Grade_9_fieldblock}
<div data-fieldname="Grade_9" class="rnr-field style1 {$fielddispclass_Grade_9}">
  <span class="rnr-label">{BEGIN Grade_9_label}{$label school Grade_9}{END Grade_9_label}</span>
  <span class="rnr-control style3">{$Grade_9_editcontrol}</span>
</div>
{END Grade_9_fieldblock}
	{BEGIN Grade_10_fieldblock}
<div data-fieldname="Grade_10" class="rnr-field style1 {$fielddispclass_Grade_10}">
  <span class="rnr-label">{BEGIN Grade_10_label}{$label school Grade_10}{END Grade_10_label}</span>
  <span class="rnr-control style3">{$Grade_10_editcontrol}</span>
</div>
{END Grade_10_fieldblock}
	{BEGIN Grade_11_fieldblock}
<div data-fieldname="Grade_11" class="rnr-field style1 {$fielddispclass_Grade_11}">
  <span class="rnr-label">{BEGIN Grade_11_label}{$label school Grade_11}{END Grade_11_label}</span>
  <span class="rnr-control style3">{$Grade_11_editcontrol}</span>
</div>
{END Grade_11_fieldblock}
	{BEGIN Grade_12_fieldblock}
<div data-fieldname="Grade_12" class="rnr-field style1 {$fielddispclass_Grade_12}">
  <span class="rnr-label">{BEGIN Grade_12_label}{$label school Grade_12}{END Grade_12_label}</span>
  <span class="rnr-control style3">{$Grade_12_editcontrol}</span>
</div>
{END Grade_12_fieldblock}
	{BEGIN TOTAL_Students_fieldblock}
<div data-fieldname="TOTAL_Students" class="rnr-field style1 {$fielddispclass_TOTAL_Students}">
  <span class="rnr-label">{BEGIN TOTAL_Students_label}{$label school TOTAL_Students}{END TOTAL_Students_label}</span>
  <span class="rnr-control style3">{$TOTAL_Students_editcontrol}</span>
</div>
{END TOTAL_Students_fieldblock}
</td>
</tr>
</table></div>


{BEGIN addbuttons}
<div  class="rnr-brickcontents style2 rnr-b-addbuttons {$brickclass_addbuttons}">{BEGIN save_button}
<a href="#" class="rnr-button main" id="saveButton{$id}">Save</a>
{END save_button}
{BEGIN reset_button}
<a href="#" class="rnr-button" id="resetButton{$id}">Reset</a>
{END reset_button}
{BEGIN cancel_button}
<a href="#" class="rnr-button" id="cancelButton{$id}">Cancel</a>
{END cancel_button}
{BEGIN back_button}
<a href="#" class="rnr-button" id="backButton{$id}">Back to list</a>
{END back_button}
{BEGIN backToMenu_button}
<a href="#" class="rnr-button" id="backToMenuButton{$id}">Back to menu</a>
{END backToMenu_button}</div>{END addbuttons}


</div>
{END container_fields}

</div>



</div>
{END container_all}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
