<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="Postal_code">
	{$Postal_code_editcontrol}
	</control>
	<control 
	field="P__O__Box">
	{$P__O__Box_editcontrol}
	</control>
	<control 
	field="Province">
	{$Province_editcontrol}
	</control>
	<control 
	field="School_Name">
	{$School_Name_editcontrol}
	</control>
	<control 
	field="Registration_Number">
	{$Registration_Number_editcontrol}
	</control>
	<control 
	field="Registration_Date">
	{$Registration_Date_editcontrol}
	</control>
	<control 
	field="School_Type">
	{$School_Type_editcontrol}
	</control>
	<control 
	field="Latitude">
	{$Latitude_editcontrol}
	</control>
	<control 
	field="Longditude">
	{$Longditude_editcontrol}
	</control>
	<control 
	field="Administrator">
	{$Administrator_editcontrol}
	</control>
	<control 
	field="Principal">
	{$Principal_editcontrol}
	</control>
	<control 
	field="Address">
	{$Address_editcontrol}
	</control>
	<control 
	field="City">
	{$City_editcontrol}
	</control>
	<control 
	field="Country">
	{$Country_editcontrol}
	</control>
	<control 
	field="E_mail">
	{$E_mail_editcontrol}
	</control>
	<control 
	field="School_Phone">
	{$School_Phone_editcontrol}
	</control>
	<control 
	field="Admnistrators_Phone">
	{$Admnistrators_Phone_editcontrol}
	</control>
	<control 
	field="Cresh">
	{$Cresh_editcontrol}
	</control>
	<control 
	field="Grade_R">
	{$Grade_R_editcontrol}
	</control>
	<control 
	field="Grade_0">
	{$Grade_0_editcontrol}
	</control>
	<control 
	field="Grade_1">
	{$Grade_1_editcontrol}
	</control>
	<control 
	field="Grade_2">
	{$Grade_2_editcontrol}
	</control>
	<control 
	field="Grade_3">
	{$Grade_3_editcontrol}
	</control>
	<control 
	field="Grade_4">
	{$Grade_4_editcontrol}
	</control>
	<control 
	field="Grade_5">
	{$Grade_5_editcontrol}
	</control>
	<control 
	field="Grade_6">
	{$Grade_6_editcontrol}
	</control>
	<control 
	field="Grade_7">
	{$Grade_7_editcontrol}
	</control>
	<control 
	field="Grade_8">
	{$Grade_8_editcontrol}
	</control>
	<control 
	field="Grade_9">
	{$Grade_9_editcontrol}
	</control>
	<control 
	field="Grade_10">
	{$Grade_10_editcontrol}
	</control>
	<control 
	field="Grade_11">
	{$Grade_11_editcontrol}
	</control>
	<control 
	field="Grade_12">
	{$Grade_12_editcontrol}
	</control>
	<control 
	field="TOTAL_Students">
	{$TOTAL_Students_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
