<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-rprint" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			



{BEGIN container_pdf}
<div class="rnr-c rnr-ch rnr-c-pdf">

{BEGIN printbuttons}
<div  class="style1 rnr-bl rnr-b-printbuttons {$brickclass_printbuttons}"></div>
{END printbuttons}

<div class="rnr-hfiller"></div>
</div>
{END container_pdf}



{BEGIN container_grid}



<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {background-color:#ffffbb;}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color:#ffe0b0;}

</style>

{BEGIN pages}
<div class="rp-repeat">
<h1>Student Report</h1>
	
</div>
<div id="grid_block{$id}" class="rnr-report-gridblock">
		<div class="rnr-cw-grid rnr-s-grid asbuttons {$pageStyleName}">
		{BEGIN grid_block}
<TABLE class="rnr-c rnr-b-report report" CELLPADDING=0>
<thead>
<tr class="rnr-toprow table-header style1">

<th>{$label Student_Report School_Name}</th>
<th>{$label Student_Report Cresh}</th>
<th>{$label Student_Report Grade_R}</th>
<th>{$label Student_Report Grade_0}</th>
<th>{$label Student_Report Grade_1}</th>
<th>{$label Student_Report Grade_2}</th>
<th>{$label Student_Report Grade_3}</th>
<th>{$label Student_Report Grade_4}</th>
<th>{$label Student_Report Grade_5}</th>
<th>{$label Student_Report Grade_6}</th>
<th>{$label Student_Report Grade_7}</th>
<th>{$label Student_Report Grade_8}</th>
<th>{$label Student_Report Grade_9}</th>
<th>{$label Student_Report Grade_10}</th>
<th>{$label Student_Report Grade_11}</th>
<th>{$label Student_Report Grade_12}</th>
<th>{$label Student_Report Total_Students}</th>
<th class="rnr-edge"></th>
</tr>
</thead>
<tbody>
{BEGIN grid_row}
<!-------------------------------------  data ----------------------------------------->
{BEGIN row_data}
<tr class="rnr-row style1" {$rowattrs}>

	<!-------------------------------------  begin detail links for row ----------------------------------------->
	<!-------------------------------------  end detail links for row ----------------------------------------->

	<td {$recordattrs}>{$School_Name_value}</td>
	<td {$recordattrs}>{$Cresh_value}</td>
	<td {$recordattrs}>{$Grade_R_value}</td>
	<td {$recordattrs}>{$Grade_0_value}</td>
	<td {$recordattrs}>{$Grade_1_value}</td>
	<td {$recordattrs}>{$Grade_2_value}</td>
	<td {$recordattrs}>{$Grade_3_value}</td>
	<td {$recordattrs}>{$Grade_4_value}</td>
	<td {$recordattrs}>{$Grade_5_value}</td>
	<td {$recordattrs}>{$Grade_6_value}</td>
	<td {$recordattrs}>{$Grade_7_value}</td>
	<td {$recordattrs}>{$Grade_8_value}</td>
	<td {$recordattrs}>{$Grade_9_value}</td>
	<td {$recordattrs}>{$Grade_10_value}</td>
	<td {$recordattrs}>{$Grade_11_value}</td>
	<td {$recordattrs}>{$Grade_12_value}</td>
	<td {$recordattrs}>{$Total_Students_value}</td>
	<td class="rnr-edge" {$recordattrs}></td>
</tr>
{END row_data}
{END grid_row}
</tbody>
</table>
{END grid_block}
	</div>		
</div>
{END pages}




{END container_grid}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
