<!doctype html><p align=center><font size=+1 color=red>This website was created by evaluation version of PHPRunner Trial.</font></p>
<p align=center><font size=+1 color=red>This warning message will not appear on website created by a paid-for version of PHPRunner Trial.</font></p>
<html  {$html_attrs}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<title>{$pagetitle}</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<link REL="stylesheet" href="styles/default.css" type="text/css">
		{BEGIN rtlCSS}
		<link REL="stylesheet" href="styles/defaultRTL.css" type="text/css">
		{END rtlCSS}
		{BEGIN styleCSSFiles}
		<link REL="stylesheet" href="{$stylepath}" type="text/css">
		{END styleCSSFiles}
		{BEGIN pageCSSFiles}
		<link REL="stylesheet" href="{$pagestylepath}" type="text/css">
		{END pageCSSFiles}
	</head>
	
	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
	<div class="rnr-page">
		<div class="rnr-top {$blockclass_top}">
			

{BEGIN container_fields}
<div class="rnr-c rnr-cv rnr-c-fields">

{BEGIN searchheader}
<div  class="rnr-brickcontents style2 rnr-b-srchheader {$brickclass_srchheader}"><span>	<h1>{$pagetitlelabel Student_Report search}</h1>
</span></div>{END searchheader}


{BEGIN conditions_block}
<div  class="rnr-brickcontents style1 rnr-b-srchconditions {$brickclass_srchconditions}">	<center>
	<span class=fieldname>Criteria:&nbsp;</span>	
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$all_checkbox}><label for="all_checkbox"> All conditions</label>
	&nbsp;&nbsp;&nbsp;
	<input type="radio" class="rnr-radio-button" name="srchType{$id}" {$any_checkbox}><label for="any_checkbox"> Any condition</label>
	</center></div>{END conditions_block}



<div  class="rnr-brickcontents style1 rnr-b-srchfields {$brickclass_srchfields}"><table class="fieldGrid">
	<tr>
		<td>&nbsp;</td>
		<td>NOT</td>
		<td colspan=3>&nbsp; </td>
	</tr>
	<tr class="{$fielddispclass_School_Name}">
	{BEGIN School_Name_fieldblock}		
	<td>
		{$label Student_Report School_Name}
	</td>
	<td>
		<input type="checkbox" {$School_Name_notbox}>
	</td>
	<td>
		{$searchtype_School_Name}
	</td>
	<td>
		{$School_Name_editcontrol}&nbsp;
	</td>
	<td>
		{$School_Name_editcontrol1}&nbsp;
	</td>
{END School_Name_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Cresh}">
	{BEGIN Cresh_fieldblock}		
	<td>
		{$label Student_Report Cresh}
	</td>
	<td>
		<input type="checkbox" {$Cresh_notbox}>
	</td>
	<td>
		{$searchtype_Cresh}
	</td>
	<td>
		{$Cresh_editcontrol}&nbsp;
	</td>
	<td>
		{$Cresh_editcontrol1}&nbsp;
	</td>
{END Cresh_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_R}">
	{BEGIN Grade_R_fieldblock}		
	<td>
		{$label Student_Report Grade_R}
	</td>
	<td>
		<input type="checkbox" {$Grade_R_notbox}>
	</td>
	<td>
		{$searchtype_Grade_R}
	</td>
	<td>
		{$Grade_R_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_R_editcontrol1}&nbsp;
	</td>
{END Grade_R_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_0}">
	{BEGIN Grade_0_fieldblock}		
	<td>
		{$label Student_Report Grade_0}
	</td>
	<td>
		<input type="checkbox" {$Grade_0_notbox}>
	</td>
	<td>
		{$searchtype_Grade_0}
	</td>
	<td>
		{$Grade_0_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_0_editcontrol1}&nbsp;
	</td>
{END Grade_0_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_1}">
	{BEGIN Grade_1_fieldblock}		
	<td>
		{$label Student_Report Grade_1}
	</td>
	<td>
		<input type="checkbox" {$Grade_1_notbox}>
	</td>
	<td>
		{$searchtype_Grade_1}
	</td>
	<td>
		{$Grade_1_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_1_editcontrol1}&nbsp;
	</td>
{END Grade_1_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_2}">
	{BEGIN Grade_2_fieldblock}		
	<td>
		{$label Student_Report Grade_2}
	</td>
	<td>
		<input type="checkbox" {$Grade_2_notbox}>
	</td>
	<td>
		{$searchtype_Grade_2}
	</td>
	<td>
		{$Grade_2_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_2_editcontrol1}&nbsp;
	</td>
{END Grade_2_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_3}">
	{BEGIN Grade_3_fieldblock}		
	<td>
		{$label Student_Report Grade_3}
	</td>
	<td>
		<input type="checkbox" {$Grade_3_notbox}>
	</td>
	<td>
		{$searchtype_Grade_3}
	</td>
	<td>
		{$Grade_3_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_3_editcontrol1}&nbsp;
	</td>
{END Grade_3_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_4}">
	{BEGIN Grade_4_fieldblock}		
	<td>
		{$label Student_Report Grade_4}
	</td>
	<td>
		<input type="checkbox" {$Grade_4_notbox}>
	</td>
	<td>
		{$searchtype_Grade_4}
	</td>
	<td>
		{$Grade_4_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_4_editcontrol1}&nbsp;
	</td>
{END Grade_4_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_5}">
	{BEGIN Grade_5_fieldblock}		
	<td>
		{$label Student_Report Grade_5}
	</td>
	<td>
		<input type="checkbox" {$Grade_5_notbox}>
	</td>
	<td>
		{$searchtype_Grade_5}
	</td>
	<td>
		{$Grade_5_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_5_editcontrol1}&nbsp;
	</td>
{END Grade_5_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_6}">
	{BEGIN Grade_6_fieldblock}		
	<td>
		{$label Student_Report Grade_6}
	</td>
	<td>
		<input type="checkbox" {$Grade_6_notbox}>
	</td>
	<td>
		{$searchtype_Grade_6}
	</td>
	<td>
		{$Grade_6_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_6_editcontrol1}&nbsp;
	</td>
{END Grade_6_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_7}">
	{BEGIN Grade_7_fieldblock}		
	<td>
		{$label Student_Report Grade_7}
	</td>
	<td>
		<input type="checkbox" {$Grade_7_notbox}>
	</td>
	<td>
		{$searchtype_Grade_7}
	</td>
	<td>
		{$Grade_7_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_7_editcontrol1}&nbsp;
	</td>
{END Grade_7_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_8}">
	{BEGIN Grade_8_fieldblock}		
	<td>
		{$label Student_Report Grade_8}
	</td>
	<td>
		<input type="checkbox" {$Grade_8_notbox}>
	</td>
	<td>
		{$searchtype_Grade_8}
	</td>
	<td>
		{$Grade_8_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_8_editcontrol1}&nbsp;
	</td>
{END Grade_8_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_9}">
	{BEGIN Grade_9_fieldblock}		
	<td>
		{$label Student_Report Grade_9}
	</td>
	<td>
		<input type="checkbox" {$Grade_9_notbox}>
	</td>
	<td>
		{$searchtype_Grade_9}
	</td>
	<td>
		{$Grade_9_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_9_editcontrol1}&nbsp;
	</td>
{END Grade_9_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_10}">
	{BEGIN Grade_10_fieldblock}		
	<td>
		{$label Student_Report Grade_10}
	</td>
	<td>
		<input type="checkbox" {$Grade_10_notbox}>
	</td>
	<td>
		{$searchtype_Grade_10}
	</td>
	<td>
		{$Grade_10_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_10_editcontrol1}&nbsp;
	</td>
{END Grade_10_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_11}">
	{BEGIN Grade_11_fieldblock}		
	<td>
		{$label Student_Report Grade_11}
	</td>
	<td>
		<input type="checkbox" {$Grade_11_notbox}>
	</td>
	<td>
		{$searchtype_Grade_11}
	</td>
	<td>
		{$Grade_11_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_11_editcontrol1}&nbsp;
	</td>
{END Grade_11_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Grade_12}">
	{BEGIN Grade_12_fieldblock}		
	<td>
		{$label Student_Report Grade_12}
	</td>
	<td>
		<input type="checkbox" {$Grade_12_notbox}>
	</td>
	<td>
		{$searchtype_Grade_12}
	</td>
	<td>
		{$Grade_12_editcontrol}&nbsp;
	</td>
	<td>
		{$Grade_12_editcontrol1}&nbsp;
	</td>
{END Grade_12_fieldblock}
	</tr>
	<tr class="{$fielddispclass_Total_Students}">
	{BEGIN Total_Students_fieldblock}		
	<td>
		{$label Student_Report Total_Students}
	</td>
	<td>
		<input type="checkbox" {$Total_Students_notbox}>
	</td>
	<td>
		{$searchtype_Total_Students}
	</td>
	<td>
		{$Total_Students_editcontrol}&nbsp;
	</td>
	<td>
		{$Total_Students_editcontrol1}&nbsp;
	</td>
{END Total_Students_fieldblock}
	</tr>

</table></div>


{BEGIN searchbuttons}
<div  class="rnr-brickcontents style2 rnr-b-srchbuttons {$brickclass_srchbuttons}">{BEGIN search_button}
<a href="#" class="rnr-button main" {$searchbutton_attrs}>Search</a>
{END search_button} 
{BEGIN reset_button}
<a href="#" class="rnr-button" {$resetbutton_attrs}>Reset</a>
{END reset_button}
{BEGIN back_button}
<a href="#" class="rnr-button" {$backbutton_attrs}>Back to list</a>
{END back_button}</div>{END searchbuttons}


</div>
{END container_fields}


		</div>
		<div class="rnr-middle">
			<div class="rnr-left {$blockclass_left}">
				
			</div>
			<div class="rnr-center {$blockclass_center}">
				
			</div>
			<div class="rnr-right {$blockclass_right}">
				
			</div>
		</div>
		<div class="rnr-bottom {$blockclass_bottom}">
			<!--%%bottom%%-->
		</div>
	</div>
		
		{$footer}
	{END body}
	</body>
</html>
