<edit_controls>
	<jscode>{$linkdata}</jscode>
	<control 
	field="First_Name">
	{$First_Name_editcontrol}
	</control>
	<control 
	field="Surname">
	{$Surname_editcontrol}
	</control>
	<control 
	field="Username">
	{$Username_editcontrol}
	</control>
	<control 
	field="Password">
	{$Password_editcontrol}
	</control>
	<control 
	field="E_mail">
	{$E_mail_editcontrol}
	</control>
	<control 
	field="Country">
	{$Country_editcontrol}
	</control>
	<control 
	field="Date_Created">
	{$Date_Created_editcontrol}
	</control>
	<control 
	field="User_Group">
	{$User_Group_editcontrol}
	</control>
	<message status="{$status}">{$message}</message>
</edit_controls>
